<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Simulation</title>
</head>
<body>
    <h1>Create Simulation</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        Number of Machines {{ form.nmachines() }}
        Number of Works {{ form.nworks() }}
        Number of Operations {{ form.nops() }}<br><br>
        {{ form.submit }}
    </form>
    <a href="{{url_for('sims')}}">Back to Simulation Manager</a><br>
    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>